@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>RBF Vendas</h1>
    <p class="lead">Sistema de Vendas - ASP NET MVC 5</p>
    <a href="loja/listar-produtos-estoque" class="btn btn-primary">Loja</a>
    <a href="area-administrativa/estoque/listar-todos" class="btn btn-primary">Estoque</a>
    <a href="area-administrativa/produtos/listar-todos" class="btn btn-primary">Produtos</a>
    <a href="area-administrativa/categorias/listar-todos" class="btn btn-primary">Categorias</a>
</div>
